In [1]:
# import os
# import pandas as pd

In [2]:
# data_folder = os.listdir('C:/Users/hp/Desktop/Study/Fraud Detection/fraud_detection/data/2018-04-07.pkl')
# # data_folder
# df = pd.read_pickle('data_folder')

In [3]:
import os
import pandas as pd

# Directory containing your .pkl files
data_dir = 'C:/Users/hp/Desktop/Study/Fraud Detection/fraud_detection/data/'

# List all .pkl files in the directory
pkl_files = [f for f in os.listdir(data_dir) if f.endswith('.pkl')]

# Load and process each .pkl file
for pkl_file in pkl_files:
    file_path = os.path.join(data_dir, pkl_file)
    df = pd.read_pickle(file_path)
    print(f"Loaded {pkl_file}")
    print(df.head(1))  # Process the DataFrame as needed

Loaded 2018-04-01.pkl
   TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
0               0 2018-04-01 00:00:31         596        3156      57.16

  TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
0              31            0         0                  0
Loaded 2018-04-02.pkl
      TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
9488            9488 2018-04-02 00:00:11        2221        6047      21.24

     TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
9488           86411            1         0                  0
Loaded 2018-04-03.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
19071           19071 2018-04-03 00:01:52        4898          18      31.78

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
19071          172912            2         0                  0
Loaded 2018-04-04.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
28818           28818 2018-04-04 00:00:26        3113        5738       3.14

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
28818          259226            3         0                  0
Loaded 2018-04-05.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
38348           38348 2018-04-05 00:00:57        3714        1807      59.66

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
38348          345657            4         0                  0
Loaded 2018-04-06.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
47999           47999 2018-04-06 00:00:35        2985        2878     105.24

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
47999          432035            5         0                  0
Loaded 2018-04-07.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
57538           57538 2018-04-07 00:01:10        3859        8811      44.15

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
57538          518470            6         0                  0
Loaded 2018-04-08.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
66976           66976 2018-04-08 00:03:47        1054        9984      64.93

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
66976          605027            7         0                  0
Loaded 2018-04-09.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
76444           76444 2018-04-09 00:02:37        3268         413      98.87

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
76444          691357            8         0                  0
Loaded 2018-04-10.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
86143           86143 2018-04-10 00:01:35        2068        4408       7.13

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
86143          777695            9         0                  0
Loaded 2018-04-11.pkl
       TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
95815           95815 2018-04-11 00:00:44        4914        3297      62.26

      TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
95815          864044           10         0                  0
Loaded 2018-04-12.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
105437          105437 2018-04-12 00:02:19          28         291     101.01

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
105437          950539           11         0                  0
Loaded 2018-04-13.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
114978          114978 2018-04-13 00:00:13        3192        8506      87.62

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
114978         1036813           12         0                  0
Loaded 2018-04-14.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
124731          124731 2018-04-14 00:00:11        4313        3358       5.74

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
124731         1123211           13         0                  0
Loaded 2018-04-15.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
134288          134288 2018-04-15 00:00:54        4693        5040      75.11

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
134288         1209654           14         0                  0
Loaded 2018-04-16.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
143766          143766 2018-04-16 00:00:27        3213        6812      45.35

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
143766         1296027           15         0                  0
Loaded 2018-04-17.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
153306          153306 2018-04-17 00:00:08        4652        6894      74.94

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
153306         1382408           16         0                  0
Loaded 2018-04-18.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
162887          162887 2018-04-18 00:00:56        2657        2933      23.87

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
162887         1468856           17         0                  0
Loaded 2018-04-19.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
172503          172503 2018-04-19 00:01:36        2291        4601      28.12

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
172503         1555296           18         0                  0
Loaded 2018-04-20.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
182042          182042 2018-04-20 00:00:03        4835         697      98.29

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
182042         1641603           19         1                  2
Loaded 2018-04-21.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
191611          191611 2018-04-21 00:02:27        4332        9641     126.86

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
191611         1728147           20         0                  0
Loaded 2018-04-22.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
201256          201256 2018-04-22 00:01:06         983         367     177.74

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
201256         1814466           21         1                  2
Loaded 2018-04-23.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
211003          211003 2018-04-23 00:02:03        4120        7868      65.38

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
211003         1900923           22         0                  0
Loaded 2018-04-24.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
220747          220747 2018-04-24 00:00:08        3853        8513      40.37

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
220747         1987208           23         0                  0
Loaded 2018-04-25.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
230295          230295 2018-04-25 00:01:39        2544        8030      17.64

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
230295         2073699           24         0                  0
Loaded 2018-04-26.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
239918          239918 2018-04-26 00:00:18        1551        7360      52.42

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
239918         2160018           25         0                  0
Loaded 2018-04-27.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
249470          249470 2018-04-27 00:01:01         888         141      50.56

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
249470         2246461           26         0                  0
Loaded 2018-04-28.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
259080          259080 2018-04-28 00:00:10          69        8343      44.11

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
259080         2332810           27         0                  0
Loaded 2018-04-29.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
268668          268668 2018-04-29 00:03:17         696        8602      18.48

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
268668         2419397           28         0                  0
Loaded 2018-04-30.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
278302          278302 2018-04-30 00:00:28         782        7944      13.14

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
278302         2505628           29         0                  0
Loaded 2018-05-01.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
288062          288062 2018-05-01 00:01:21        3546        2944      18.71

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
288062         2592081           30         0                  0
Loaded 2018-05-02.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
297640          297640 2018-05-02 00:00:15        3230        4082      39.61

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
297640         2678415           31         0                  0
Loaded 2018-05-03.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
307146          307146 2018-05-03 00:01:07        3424        4116      97.78

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
307146         2764867           32         0                  0
Loaded 2018-05-04.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
316917          316917 2018-05-04 00:02:25        2924        1711      85.38

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
316917         2851345           33         0                  0
Loaded 2018-05-05.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
326408          326408 2018-05-05 00:00:09        1295        1047      29.32

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
326408         2937609           34         0                  0
Loaded 2018-05-06.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
335910          335910 2018-05-06 00:00:02         161        2288      89.52

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
335910         3024002           35         0                  0
Loaded 2018-05-07.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
345570          345570 2018-05-07 00:01:14        4894        4422      31.13

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
345570         3110474           36         0                  0
Loaded 2018-05-08.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
355270          355270 2018-05-08 00:00:07        2560        6308      90.36

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
355270         3196807           37         0                  0
Loaded 2018-05-09.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
364702          364702 2018-05-09 00:00:05        1678        7118      75.84

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
364702         3283205           38         0                  0
Loaded 2018-05-10.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
374292          374292 2018-05-10 00:00:30        3066        1766      13.71

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
374292         3369630           39         0                  0
Loaded 2018-05-11.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
384041          384041 2018-05-11 00:00:20        1182        4477       6.49

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
384041         3456020           40         0                  0
Loaded 2018-05-12.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
393577          393577 2018-05-12 00:00:18        1036        7114      39.01

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
393577         3542418           41         0                  0
Loaded 2018-05-13.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
403165          403165 2018-05-13 00:01:01        4279        9375      37.44

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
403165         3628861           42         0                  0
Loaded 2018-05-14.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
412660          412660 2018-05-14 00:00:01         851        9335      61.65

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
412660         3715201           43         0                  0
Loaded 2018-05-15.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
422339          422339 2018-05-15 00:00:04        3307        3257      32.26

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
422339         3801604           44         0                  0
Loaded 2018-05-16.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
431773          431773 2018-05-16 00:00:59        4994        2467      71.28

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
431773         3888059           45         0                  0
Loaded 2018-05-17.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
441540          441540 2018-05-17 00:00:17         383        3242      51.66

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
441540         3974417           46         0                  0
Loaded 2018-05-18.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
451231          451231 2018-05-18 00:01:32        3890        1944      58.41

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
451231         4060892           47         0                  0
Loaded 2018-05-19.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
460896          460896 2018-05-19 00:00:51        4404        2572      27.68

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
460896         4147251           48         0                  0
Loaded 2018-05-20.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
470491          470491 2018-05-20 00:00:26        2732        1170      28.51

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
470491         4233626           49         0                  0
Loaded 2018-05-21.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
480234          480234 2018-05-21 00:00:11        1895        3141     146.91

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
480234         4320011           50         0                  0
Loaded 2018-05-22.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
489922          489922 2018-05-22 00:00:24        4306          72      68.82

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
489922         4406424           51         0                  0
Loaded 2018-05-23.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
499394          499394 2018-05-23 00:01:01        3340        6377      51.67

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
499394         4492861           52         1                  2
Loaded 2018-05-24.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
508793          508793 2018-05-24 00:00:25         131         405      22.47

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
508793         4579225           53         0                  0
Loaded 2018-05-25.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
518169          518169 2018-05-25 00:00:28         955        2587     113.07

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
518169         4665628           54         0                  0
Loaded 2018-05-26.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
527786          527786 2018-05-26 00:00:28        3124        1988      59.85

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
527786         4752028           55         0                  0
Loaded 2018-05-27.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
537445          537445 2018-05-27 00:01:00        3054        2621      95.55

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
537445         4838460           56         0                  0
Loaded 2018-05-28.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
547185          547185 2018-05-28 00:00:07         179         379      44.68

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
547185         4924807           57         0                  0
Loaded 2018-05-29.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
556754          556754 2018-05-29 00:01:33        4291        5265      98.85

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
556754         5011293           58         0                  0
Loaded 2018-05-30.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
566310          566310 2018-05-30 00:01:28        2991         421      30.99

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
566310         5097688           59         0                  0
Loaded 2018-05-31.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
575755          575755 2018-05-31 00:00:49         801        7256      11.03

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
575755         5184049           60         0                  0
Loaded 2018-06-01.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
585177          585177 2018-06-01 00:01:11         852        5161     163.64

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
585177         5270471           61         0                  0
Loaded 2018-06-02.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
594735          594735 2018-06-02 00:01:16        2583        5178     135.44

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
594735         5356876           62         0                  0
Loaded 2018-06-03.pkl
        TRANSACTION_ID         TX_DATETIME CUSTOMER_ID TERMINAL_ID  TX_AMOUNT  \
604311          604311 2018-06-03 00:01:54        1398        3197      75.97

       TX_TIME_SECONDS TX_TIME_DAYS  TX_FRAUD  TX_FRAUD_SCENARIO
604311         5443314           63         0                  0
Loaded 2018-06-04.pkl

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9649 entries, 1744506 to 1754154
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TRANSACTION_ID     9649 non-null   int64
 1   TX_DATETIME        9649 non-null   datetime64[ns]
 2   CUSTOMER_ID        9649 non-null   object
 3   TERMINAL_ID        9649 non-null   object
 4   TX_AMOUNT          9649 non-null   float64
 5   TX_TIME_SECONDS    9649 non-null   object
 6   TX_TIME_DAYS       9649 non-null   object
 7   TX_FRAUD           9649 non-null   int64
 8   TX_FRAUD_SCENARIO  9649 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 753.8+ KB

In [5]:
df.isnull().sum()

TRANSACTION_ID       0
TX_DATETIME          0
CUSTOMER_ID          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

In [6]:
df['TX_DATETIME'] = pd.to_datetime(df['TX_DATETIME'])

In [7]:
df.head(10)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
1744506,1744506,2018-09-30 00:00:01,4423,7637,12.29,15724801,182,0,0
1744507,1744507,2018-09-30 00:00:27,3680,5369,222.32,15724827,182,1,1
1744508,1744508,2018-09-30 00:00:38,3255,1246,8.79,15724838,182,0,0
1744509,1744509,2018-09-30 00:01:49,1353,8423,33.77,15724909,182,0,0
1744510,1744510,2018-09-30 00:02:09,1231,1382,60.86,15724929,182,0,0
1744511,1744511,2018-09-30 00:03:40,2143,4106,143.69,15725020,182,0,0
1744512,1744512,2018-09-30 00:04:19,1663,3774,103.82,15725059,182,0,0
1744513,1744513,2018-09-30 00:06:14,2900,8242,11.99,15725174,182,0,0
1744514,1744514,2018-09-30 00:06:47,2923,3818,24.96,15725207,182,0,0
1744515,1744515,2018-09-30 00:07:06,2084,2592,57.55,15725226,182,0,0

In [8]:
its_Fraud = (df['TX_FRAUD']==0).sum()
its_notFraud = (df["TX_FRAUD"]==1).sum()
print(its_Fraud)
print(its_notFraud)

9569
80

In [9]:
x = 9649 + 9649
x

19298

In [10]:
from sklearn.model_selection import train_test_split

X = df.drop(['TX_FRAUD'], axis=1)  # Features
y = df['TX_FRAUD']  # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# from sklearn.ensemble import RandomForestClassifier

# model = RandomForestClassifier(n_estimators=100)
# model.fit(X_train, y_train)

# # Model evaluation
# y_pred = model.predict(X_test)

In [12]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Assume 'df' is your dataframe and 'TX_DATETIME' is the timestamp column
# df['TX_DATETIME'] = pd.to_datetime(df['TX_DATETIME'])

# Extract datetime features
df['TX_DAY'] = df['TX_DATETIME'].dt.day
df['TX_MONTH'] = df['TX_DATETIME'].dt.month
df['TX_HOUR'] = df['TX_DATETIME'].dt.hour
df['TX_DAY_OF_WEEK'] = df['TX_DATETIME'].dt.dayofweek

# Drop the original datetime column
df = df.drop(columns=['TX_DATETIME'])

# Label encode categorical columns (if any)
le = LabelEncoder()
df['CUSTOMER_ID'] = le.fit_transform(df['CUSTOMER_ID'])
df['TERMINAL_ID'] = le.fit_transform(df['TERMINAL_ID'])

# Split the data into features (X) and target (y)
X = df.drop(columns=['TX_FRAUD'])  # Assuming TX_FRAUD is your target
y = df['TX_FRAUD']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a RandomForest model
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate the model
from sklearn.metrics import classification_report, roc_auc_score
print(classification_report(y_test, y_pred))
print("AUC-ROC:", roc_auc_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1913
           1       1.00      1.00      1.00        17

    accuracy                           1.00      1930
   macro avg       1.00      1.00      1.00      1930
weighted avg       1.00      1.00      1.00      1930

AUC-ROC: 1.0

In [13]:
# len(y_pred)

In [14]:
df.head(1)

,TRANSACTION_ID,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DAY,TX_MONTH,TX_HOUR,TX_DAY_OF_WEEK
1744506,1744506,3279,4640,12.29,15724801,182,0,0,30,9,0,6

In [16]:
# Remove the extra feature from new_data
new_data = [1744506, 1744506, 3279, 4640, 12.29, 15724801, 182, 0, 30, 9, 0]  # Now 11 features
new_data = [new_data]  # Reshape to (1, 11)

# Make the prediction
y_pred = model.predict(new_data)
print(y_pred)

[1]

C:\Users\hp\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(